h3 {
  prince-page-group: start;
  font-size: 1.2rem;
  text-align: center;
}

.chapter {
  margin-top: 7em;
}

blockquote.scripture {
  margin-left: 0;
  border-left: 0;
}

blockquote.scripture > p {
  font-size: 1.0rem;
  padding-left: 0;
  text-align: center;
}

figure.attributed-quote.scripture figcaption {
  text-align: center;
  font-size: 0.925rem;
  margin-top: -0.625em;
}
