h3 {
  prince-page-group: start;
  /* margin-top: 0 !important; */
  /* padding-top: 0 !important; */
  /* background: pink; */
}

/* @page { */
/*   /1* margin-top: 3em !important; *1/ */
/*   background: lightblue; */
/*   padding-top: 0 !important; */
/* } */

.chapter {
  margin-top: 2em;
}

blockquote.scripture {
  margin-left: 0;
  border-left: 0;
}

blockquote.scripture > p {
  font-size: 1.1rem;
  padding-left: 0;
  text-align: center;
}

figure.attributed-quote.scripture figcaption {
  text-align: center;
  font-size: 0.925rem;
  margin-top: -0.625em;
}
